build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-69aac4e5e3125873df2d.json
build/.cmake/api/v1/reply/cmakeFiles-v1-b118bdce950274342934.json
build/.cmake/api/v1/reply/codemodel-v2-5da28e6d753e5d364319.json
build/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/index-2023-01-11T04-19-35-0138.json
build/.cmake/api/v1/reply/target-Vcomp-Debug-c2ccf87561e27079fee2.json
build/.cmake/api/v1/reply/toolchains-v1-61024cf2e30081fdea2b.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.25.1/CMakeCCompiler.cmake
build/CMakeFiles/3.25.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.25.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.25.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.25.1/CMakeSystem.cmake
build/CMakeFiles/3.25.1/CompilerIdC/a.out
build/CMakeFiles/3.25.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.25.1/CompilerIdCXX/a.out
build/CMakeFiles/3.25.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/Vcomp.dir/build.make
build/CMakeFiles/Vcomp.dir/cmake_clean.cmake
build/CMakeFiles/Vcomp.dir/compiler_depend.make
build/CMakeFiles/Vcomp.dir/compiler_depend.ts
build/CMakeFiles/Vcomp.dir/depend.make
build/CMakeFiles/Vcomp.dir/DependInfo.cmake
build/CMakeFiles/Vcomp.dir/flags.make
build/CMakeFiles/Vcomp.dir/link.txt
build/CMakeFiles/Vcomp.dir/progress.make
.vscode/settings.json
build/test.vtex
build/Vcomp
build/.cmake/api/v1/reply/cache-v2-2434b00f3eea1ff3954c.json
build/.cmake/api/v1/reply/cmakeFiles-v1-2ee058b0fd2ebc9efa36.json
build/.cmake/api/v1/reply/index-2023-01-11T05-07-00-0608.json
build/.cmake/api/v1/reply/toolchains-v1-00479e1cfcfc51d0a09c.json
build/CMakeFiles/Vcomp.dir/src/compile.cpp.o
build/CMakeFiles/Vcomp.dir/src/compile.cpp.o.d
build/CMakeFiles/Vcomp.dir/compiler_depend.internal
build/Vtest
build/.cmake/api/v1/reply/cache-v2-07cd38c8de1dfce7d444.json
build/.cmake/api/v1/reply/codemodel-v2-66c0f774bf49f2d3f0db.json
build/.cmake/api/v1/reply/index-2023-01-13T03-24-53-0206.json
build/.cmake/api/v1/reply/target-Vtest-Debug-70844421792b00fa4207.json
build/CMakeFiles/Vtest.dir/build.make
build/CMakeFiles/Vtest.dir/cmake_clean.cmake
build/CMakeFiles/Vtest.dir/compiler_depend.internal
build/CMakeFiles/Vtest.dir/compiler_depend.make
build/CMakeFiles/Vtest.dir/compiler_depend.ts
build/CMakeFiles/Vtest.dir/depend.make
build/CMakeFiles/Vtest.dir/DependInfo.cmake
build/CMakeFiles/Vtest.dir/flags.make
build/CMakeFiles/Vtest.dir/link.txt
build/CMakeFiles/Vtest.dir/progress.make
build/CMakeFiles/Vtest.dir/src/tcom.cpp.o
build/CMakeFiles/Vtest.dir/src/tcom.cpp.o.d
build/.cmake/api/v1/reply/cache-v2-b882f9d64d4387d75cec.json
build/.cmake/api/v1/reply/codemodel-v2-05d4def2b0dace5fda6f.json
build/.cmake/api/v1/reply/directory-.-Release-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/index-2023-01-13T05-36-31-0063.json
build/.cmake/api/v1/reply/target-Vcomp-Release-f4fadb0b292ddf90bd88.json
build/.cmake/api/v1/reply/target-Vtest-Release-4fc707f20ce6cdd89247.json
build/.cmake/api/v1/reply/index-2023-01-13T06-24-03-0836.json
build/script.vtex
build/.cmake/api/v1/reply/cache-v2-90b84cf5b7b95f5e25ac.json
build/.cmake/api/v1/reply/cmakeFiles-v1-10968b7248e8da8e2d5b.json
build/.cmake/api/v1/reply/codemodel-v2-9c7eaebf068cadd502b6.json
build/.cmake/api/v1/reply/index-2023-01-13T06-36-53-0243.json
build/.cmake/api/v1/reply/toolchains-v1-7b3f28aa77dde7e72327.json
build/CMakeFiles/3.22.1/CMakeCCompiler.cmake
build/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.22.1/CMakeSystem.cmake
build/CMakeFiles/3.22.1/CompilerIdC/a.out
build/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.22.1/CompilerIdCXX/a.out
build/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/.cmake/api/v1/reply/cache-v2-e72e2f5227bc27f5f3a8.json
build/.cmake/api/v1/reply/cmakeFiles-v1-b98a69857ed7523d2512.json
build/.cmake/api/v1/reply/codemodel-v2-45310d7db9119090e295.json
build/.cmake/api/v1/reply/index-2023-01-13T07-39-51-0737.json
build/.cmake/api/v1/reply/codemodel-v2-25fdd2d1feef9838db63.json
build/.cmake/api/v1/reply/index-2023-01-13T07-43-51-0228.json
build/.cmake/api/v1/reply/codemodel-v2-caa7645363715eeb0479.json
build/.cmake/api/v1/reply/index-2023-01-13T20-18-47-0523.json
build/.cmake/api/v1/reply/codemodel-v2-96e5b816bc5e05b53218.json
build/.cmake/api/v1/reply/index-2023-01-13T22-00-32-0669.json
build/.cmake/api/v1/reply/target-Vtest-Debug-49d78c6b772b62f153ba.json
build/.cmake/api/v1/reply/cache-v2-f8146c508ac8ede5443b.json
build/.cmake/api/v1/reply/codemodel-v2-8f9424f117446b167b19.json
build/.cmake/api/v1/reply/index-2023-01-15T01-43-41-0136.json
build/.cmake/api/v1/reply/target-Vtest-Debug-f812f4c718193ce2161b.json
build/.cmake/api/v1/reply/toolchains-v1-02a51a2f7a0bfebae78c.json
build/CMakeFiles/Vtest.dir/src/compiler.cpp.o
build/CMakeFiles/Vtest.dir/src/compiler.cpp.o.d
