build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-69aac4e5e3125873df2d.json
build/.cmake/api/v1/reply/cmakeFiles-v1-b118bdce950274342934.json
build/.cmake/api/v1/reply/codemodel-v2-5da28e6d753e5d364319.json
build/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/index-2023-01-11T04-19-35-0138.json
build/.cmake/api/v1/reply/target-Vcomp-Debug-c2ccf87561e27079fee2.json
build/.cmake/api/v1/reply/toolchains-v1-61024cf2e30081fdea2b.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.25.1/CMakeCCompiler.cmake
build/CMakeFiles/3.25.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.25.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.25.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.25.1/CMakeSystem.cmake
build/CMakeFiles/3.25.1/CompilerIdC/a.out
build/CMakeFiles/3.25.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.25.1/CompilerIdCXX/a.out
build/CMakeFiles/3.25.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/Vcomp.dir/build.make
build/CMakeFiles/Vcomp.dir/cmake_clean.cmake
build/CMakeFiles/Vcomp.dir/compiler_depend.make
build/CMakeFiles/Vcomp.dir/compiler_depend.ts
build/CMakeFiles/Vcomp.dir/depend.make
build/CMakeFiles/Vcomp.dir/DependInfo.cmake
build/CMakeFiles/Vcomp.dir/flags.make
build/CMakeFiles/Vcomp.dir/link.txt
build/CMakeFiles/Vcomp.dir/progress.make
.vscode/settings.json
build/test.vtex
build/Vcomp
build/CMakeFiles/Vcomp.dir/src/compile.cpp.o
build/CMakeFiles/Vcomp.dir/src/compile.cpp.o.d
build/CMakeFiles/Vcomp.dir/compiler_depend.internal
build/Vtest
build/CMakeFiles/Vtest.dir/build.make
build/CMakeFiles/Vtest.dir/cmake_clean.cmake
build/CMakeFiles/Vtest.dir/compiler_depend.internal
build/CMakeFiles/Vtest.dir/compiler_depend.make
build/CMakeFiles/Vtest.dir/compiler_depend.ts
build/CMakeFiles/Vtest.dir/depend.make
build/CMakeFiles/Vtest.dir/DependInfo.cmake
build/CMakeFiles/Vtest.dir/flags.make
build/CMakeFiles/Vtest.dir/link.txt
build/CMakeFiles/Vtest.dir/progress.make
build/CMakeFiles/Vtest.dir/src/tcom.cpp.o
build/CMakeFiles/Vtest.dir/src/tcom.cpp.o.d
build/script.vtex
build/.cmake/api/v1/reply/toolchains-v1-7b3f28aa77dde7e72327.json
build/CMakeFiles/3.22.1/CMakeCCompiler.cmake
build/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.22.1/CMakeSystem.cmake
build/CMakeFiles/3.22.1/CompilerIdC/a.out
build/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.22.1/CompilerIdCXX/a.out
build/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/Vtest.dir/src/compiler.cpp.o
build/CMakeFiles/Vtest.dir/src/compiler.cpp.o.d
build/build.ninja
build/intermediary.ivtex
build/CMakeFiles/rules.ninja
build/.ninja_deps
build/.ninja_log
build/Vllvm
build/CMakeFiles/Vllvm.dir/src/llvmcompiler.cpp.o
build/.cmake/api/v1/reply/cache-v2-5a33e772cbd3c344f404.json
build/.cmake/api/v1/reply/cmakeFiles-v1-5785e15f68e33563f174.json
build/.cmake/api/v1/reply/codemodel-v2-d7b4c82dc0c1bce118ba.json
build/.cmake/api/v1/reply/index-2023-02-04T08-36-36-0198.json
build/.cmake/api/v1/reply/target-acc_gen-Debug-1f02348b591d12bc066d.json
build/.cmake/api/v1/reply/target-intrinsics_gen-Debug-658547feac8151639ded.json
build/.cmake/api/v1/reply/target-omp_gen-Debug-1cc9da23a155117bbec7.json
build/.cmake/api/v1/reply/target-Vllvm-Debug-503ad86a848cd2a035ee.json
build/.cmake/api/v1/reply/target-Vtest-Debug-16678ecaa45debb69b5c.json
build/.cmake/api/v1/reply/index-2023-02-04T08-40-12-0137.json
build/.cmake/api/v1/reply/codemodel-v2-61260cc55f30003f16b2.json
build/.cmake/api/v1/reply/index-2023-02-02T06-42-37-0180.json
build/.cmake/api/v1/reply/target-Vllvm-Debug-51ebf6176760da65dcf4.json
build/.cmake/api/v1/reply/index-2023-02-04T08-41-36-0526.json
build/.cmake/api/v1/reply/cache-v2-6b578ccb3ab552aa8de9.json
build/.cmake/api/v1/reply/cmakeFiles-v1-bec3ab7e20ff0aaa5cdf.json
build/.cmake/api/v1/reply/target-acc_gen-Debug-ce5559e4ab4553edef4f.json
build/.cmake/api/v1/reply/target-intrinsics_gen-Debug-02acfe21a19ba7a25e07.json
build/.cmake/api/v1/reply/target-omp_gen-Debug-400d6e78e01dcb972a4d.json
build/.cmake/api/v1/reply/target-Vtest-Debug-8bf2523b6facb9916172.json
build/example.vtex
build/.cmake/api/v1/reply/codemodel-v2-f05bc152233f4be73e90.json
build/.cmake/api/v1/reply/index-2023-02-04T12-16-32-0926.json
build/.cmake/api/v1/reply/target-acc_gen-Debug-41782e2664b79fd94c04.json
build/.cmake/api/v1/reply/target-intrinsics_gen-Debug-b60131da0871d9ebc6f5.json
build/.cmake/api/v1/reply/target-omp_gen-Debug-5eb59d93702e0cb15b8a.json
build/.cmake/api/v1/reply/target-Vllvm-Debug-fcb96d0a8d54df57b8c0.json
build/.cmake/api/v1/reply/target-Vtest-Debug-c69161b5524452126a43.json
build/.cmake/api/v1/reply/codemodel-v2-bc73e95832ba17308a47.json
build/.cmake/api/v1/reply/index-2023-02-05T00-17-09-0942.json
build/.cmake/api/v1/reply/target-Vllvm-Debug-a1e7f17c540acb7caf7b.json
build/Vnew
build/.cmake/api/v1/reply/cache-v2-2fc443453ad8cace5ce6.json
build/.cmake/api/v1/reply/codemodel-v2-2e40a83c5e06ed62a5d1.json
build/.cmake/api/v1/reply/index-2023-02-06T03-28-48-0048.json
build/.cmake/api/v1/reply/target-Vllvm-Debug-ef9bb7e6f0ff3ea9270a.json
build/.cmake/api/v1/reply/target-Vnew-Debug-7a2dda8e0a66f3ffa382.json
build/CMakeFiles/Vnew.dir/src/generator.cpp.o
build/.cmake/api/v1/reply/index-2023-02-06T06-27-01-0973.json
build/log.txt
build/.cmake/api/v1/reply/index-2023-02-13T07-09-01-0746.json
build/.cmake/api/v1/reply/codemodel-v2-12459db77d30560a56a3.json
build/.cmake/api/v1/reply/index-2023-02-13T17-10-56-0141.json
build/.cmake/api/v1/reply/target-acc_gen-Debug-bd35c95892247691ae7a.json
build/.cmake/api/v1/reply/target-intrinsics_gen-Debug-8676c8f07d5a7ace3c91.json
build/.cmake/api/v1/reply/target-omp_gen-Debug-2114547b30366f29a67d.json
build/.cmake/api/v1/reply/target-Vllvm-Debug-89a7a258b9a9b9641752.json
build/.cmake/api/v1/reply/target-Vnew-Debug-76f7c67c2d6fdd3c8ac4.json
build/.cmake/api/v1/reply/target-Vtest-Debug-3bad197aa3a674a1735d.json
build/.cmake/api/v1/reply/index-2023-02-15T05-54-46-0607.json
build/.cmake/api/v1/reply/cache-v2-a0e25d90c06ae70df434.json
build/.cmake/api/v1/reply/cmakeFiles-v1-52d74ac34e6a8861d7bd.json
build/.cmake/api/v1/reply/index-2023-02-14T17-53-52-0174.json
build/.cmake/api/v1/reply/cache-v2-edccf63ae4e7b693ec1a.json
build/.cmake/api/v1/reply/cmakeFiles-v1-b98a69857ed7523d2512.json
build/.cmake/api/v1/reply/codemodel-v2-c7300c4f8378613a7b5b.json
build/.cmake/api/v1/reply/directory-.-RelWithDebInfo-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/index-2023-02-15T06-57-30-0370.json
build/.cmake/api/v1/reply/target-Vnew-RelWithDebInfo-887720b7aa18926dfe0b.json
build/scripty.vtex
build/.cmake/api/v1/reply/cache-v2-b7eec986b0f3526963d6.json
build/.cmake/api/v1/reply/codemodel-v2-a1cb3c44903366ec11bc.json
build/.cmake/api/v1/reply/index-2023-02-15T19-05-06-0882.json
build/.cmake/api/v1/reply/target-Vnew-Debug-e2b9f34fe57f6fb299ba.json
build/.cmake/api/v1/reply/cache-v2-b7d117919b1af4d45b42.json
build/.cmake/api/v1/reply/cmakeFiles-v1-f8928a8500c58147a01e.json
build/.cmake/api/v1/reply/index-2023-02-22T05-21-04-0757.json
build/.cmake/api/v1/reply/toolchains-v1-513ba4b82951a1df9793.json
build/CMakeFiles/3.25.2/CMakeCCompiler.cmake
build/CMakeFiles/3.25.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.25.2/CMakeSystem.cmake
build/CMakeFiles/3.25.2/CompilerIdC/a.out
build/CMakeFiles/3.25.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.25.2/CompilerIdCXX/a.out
build/CMakeFiles/3.25.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/Vnew.exe
build/Vnew.pdb
build/Vnew.vcxproj
build/Vnew.vcxproj.filters
build/Vortex.sln
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/.cmake/api/v1/reply/cache-v2-48473f1a3ce1b2712d75.json
build/.cmake/api/v1/reply/cmakeFiles-v1-e3f67cca948633c52ab0.json
build/.cmake/api/v1/reply/codemodel-v2-bf1cef78952998c67508.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/index-2023-03-02T04-42-18-0145.json
build/.cmake/api/v1/reply/target-Vnew-Debug-e54220def5fc91efbf48.json
build/.cmake/api/v1/reply/toolchains-v1-43f567a748534938f851.json
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/feature_tests.bin
build/CMakeFiles/3.26.0-rc5/CMakeCCompiler.cmake
build/CMakeFiles/3.26.0-rc5/CMakeCXXCompiler.cmake
build/CMakeFiles/3.26.0-rc5/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.26.0-rc5/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.26.0-rc5/CMakeRCCompiler.cmake
build/CMakeFiles/3.26.0-rc5/CMakeSystem.cmake
build/CMakeFiles/3.26.0-rc5/CompilerIdC/a.exe
build/CMakeFiles/3.26.0-rc5/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.26.0-rc5/CompilerIdCXX/a.exe
build/CMakeFiles/3.26.0-rc5/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/ShowIncludes/foo.h
build/CMakeFiles/ShowIncludes/main.c
build/CMakeFiles/Vnew.dir/build.make
build/CMakeFiles/Vnew.dir/cmake_clean.cmake
build/CMakeFiles/Vnew.dir/compiler_depend.make
build/CMakeFiles/Vnew.dir/compiler_depend.ts
build/CMakeFiles/Vnew.dir/depend.make
build/CMakeFiles/Vnew.dir/DependInfo.cmake
build/CMakeFiles/Vnew.dir/flags.make
build/CMakeFiles/Vnew.dir/linkLibs.rsp
build/CMakeFiles/Vnew.dir/objects1.rsp
build/CMakeFiles/Vnew.dir/progress.make
build/Vnew.dir/Debug/vc143.pdb
build/Vnew.dir/Debug/Vnew.tlog/CL.command.1.tlog
build/Vnew.dir/Debug/Vnew.tlog/CustomBuild.command.1.tlog
build/Vnew.dir/Debug/Vnew.tlog/CustomBuild.read.1.tlog
build/Vnew.dir/Debug/Vnew.tlog/CustomBuild.write.1.tlog
build/Vnew.dir/Debug/Vnew.tlog/unsuccessfulbuild
build/Vnew.dir/Debug/Vnew.tlog/Vnew.lastbuildstate
build/win32/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/.cmake/api/v1/reply/index-2023-03-02T04-52-54-0147.json
build/CMakeFiles/Vnew.dir/src/generator.cpp.obj
build/CMakeFiles/Vnew.dir/src/generator.cpp.obj.d
build/Release/Vnew.exe
build/Vnew.dir/Release/generator.obj
build/Vnew.dir/Release/Vnew.exe.recipe
build/Vnew.dir/Release/Vnew.tlog/CL.command.1.tlog
build/Vnew.dir/Release/Vnew.tlog/CL.read.1.tlog
build/Vnew.dir/Release/Vnew.tlog/CL.write.1.tlog
build/Vnew.dir/Release/Vnew.tlog/CustomBuild.command.1.tlog
build/Vnew.dir/Release/Vnew.tlog/CustomBuild.read.1.tlog
build/Vnew.dir/Release/Vnew.tlog/CustomBuild.write.1.tlog
build/Vnew.dir/Release/Vnew.tlog/link.command.1.tlog
build/Vnew.dir/Release/Vnew.tlog/link.read.1.tlog
build/Vnew.dir/Release/Vnew.tlog/link.write.1.tlog
build/Vnew.dir/Release/Vnew.tlog/Vnew.lastbuildstate
build/win32/Release/ZERO_CHECK/ZERO_CHECK.recipe
build/win32/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/win32/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/win32/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/win32/Release/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/x64/Release/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
